project                = "<project_id>"
region                 = "europe-north1"
zone                   = "europe-north1-a"
cluster_name           = "cluster-1"
enable_legacy_abac     = true
node_pool_name         = "node-pool-1"
node_count             = 1
node_machine_type      = "n1-standard-2"
node_disk_size_gb      = 50
node_disk_type         = "pd-standard"
node_tags              = ["k8s-work-node"]
firewall_node_ports    = ["30000-32767"]
firewall_source_ranges = ["0.0.0.0/0"]
firewall_rule_disabled = true
